@import '../../styles/colors.scss';

.container {
    display: flex;
    height: 5rem;
    padding: 0.5rem;
    background: $marvel-yellow;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    width: auto;
}