@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;

    @media(min-width: $mobile-breakpoint) {
        height: calc(100vh - #{$top-bar-height});
        overflow-y: auto;
    }
}

.title {
    @include title;
}

.content {
    padding: 1rem;
}