$transition: 0.3s ease-in-out;
$border-radius: 0.2rem;
$box-shadow: 11px 12px 19px -6px rgba(0,0,0,0.75);
$box-shadow-raised: 19px 17px 19px -6px rgba(0,0,0,0.75);
$mobile-breakpoint: 600px;
$top-bar-height: 5rem;
$title-height: 3rem;

// z index
$z-index-fixed: 1;
$z-index-permanent: 2;