@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;

    h2 {
        @include title;
    }

    @media(min-width: $mobile-breakpoint) {
        height: calc(100vh - #{$top-bar-height});
        overflow-y: auto;
    }
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: $transition;
}

.blurred {
    opacity: 0.8;
    pointer-events: none;
    transition: 1s;
    filter: blur(20px);
}