@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;

    h2 {
        @include title;
    }
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
