@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.description {
    padding: 1rem;
}