@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: all;
    transition: $transition;
    background: $white;
    z-index: $z-index-permanent;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.header {
    height: 2rem;
    padding: 2rem;
    color: $white;
    background-color: $marvel-red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    button {
        @include button(true);
    }
}

.content {
    height: calc(100vh - 8rem);
    overflow-y: auto;
    padding: 2rem;
}