@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border-bottom: solid $marvel-red 1px;
    padding-bottom: 1rem;
}

.image {
    max-width: 5rem;
}

.amount {
    @include amount(3rem);
    margin-right: 1rem;
}