@import './styles/variables.scss';

.grid {
    display: flex;
    padding-top: $top-bar-height;

    @media(min-width: $mobile-breakpoint) {
        padding-top: 0;
    }
}

.leftColumn {
    width: 100%;

    @media(min-width: $mobile-breakpoint) {
        width: 65%;
    }
}

.rightColumn {
    flex: 1;
}